.Tabs {
  display: block;
  text-align: left;
  --br: 4px;
  --bg-active: var(--color-neutral-00);
  --bg-inactive: var(--color-neutral-20);
  box-shadow: 0px 20px 13px -10px rgba(#000, 0.15),
    0px 2px 2px 0px rgba(#000, 0.10);
  border-radius: 7px;
}

.Tabs__tablist {
  display: flex;
  background: var(--bg-inactive);
  border-top-left-radius: var(--br);
  border-top-right-radius: var(--br);
  padding: 4px;
  padding-bottom: 0;
}

.Tabs__tab {
  --pd: 8px;
  --bt: 3px;
  margin: 0;
  padding: var(--pd) calc(var(--pd) * 1.5);
  padding-top: calc(var(--pd) - var(--bt));
  border: 0;
  border-top: var(--bt) solid transparent;
  border-top-left-radius: var(--br);
  border-top-right-radius: var(--br);
  background: 0;
  cursor: unset;
  appearance: none;
  font-size: 100%;
  font: inherit;
  text-decoration: none;
  text-align: inherit;
  color: inherit;
}

.Tabs__tab[data-selected],
.Tabs__tab[aria-selected="true"] {
  background: var(--bg-active);
  border-top-color: var(--color-rose-50);
}

.Tabs__tab:focus {
  outline: none;
}

.Tabs__tab:focus-visible {
  outline: 2px solid var(--color-purp-40);
  outline-offset: 4px;
}

.Tabs__panels {
  background: var(--bg-active);
  padding: 4px;
  border-bottom-left-radius: var(--br);
  border-bottom-right-radius: var(--br);
}

.Tabs__panel {
  --pd: 16px;
  --bt: 3px;
  margin: 0;
  padding: var(--pd);
  outline: none;
}

.Tabs__panel:focus-visible {
  outline: 2px solid var(--color-purp-40);
  outline-offset: 4px;
}
